// TODO: This should all be in a public Sass package, but much of it is currently
//		 stuck in a private package.  Need to refactor once that's addressed.
@import "responsive"

$trib_teal: #008990

@mixin header_link($link_color)
  $link_color: #222 !default
  > a
    color: $link_color
    text-decoration: none
    &:hover
      color: $trib_teal
      text-decoration: underline

.explorer
  //LANDING PAGE
  .landing
    +breakpoint(medium)
      padding: 1em
    section
      border-bottom-width: 1px
      border-bottom-style: solid
      border-color: #e6e6e6
      margin-bottom: 10px // XXX huh? why is it so hard to style a section?
      &.search
        .search_icon
          margin-right: 10px
          margin-top: -5px
        #locate-button
          display: block
          margin: 10px auto
    h2
      font-size: 25px
      font-weight: bold
      @include header_link(#222)
      margin: 0 0 .5em 0
      font-family: "Knockout 49 A", "Knockout 49 B"
      text-transform: uppercase
