{% extends "layouts/base.html" %}
{# TODO: Refactor to a common explorer layout #}

{% load staticfiles %}

{% block body_id %}tt_{{ data_app_name }}{% endblock %}
{% block body_class %}{{ block.super }} {{ data_app_name }} dataviews responsive{% endblock %}
{% block content_class %}{{ data_app_name }} explorer{% endblock %}

{% block extra_style %}{{ block.super }}
  {% block main_dataviews_css %}
    <link rel="stylesheet" type="text/css" href="{% static "tt_dataviews/css/app.css" %}">
  {% endblock %}

  {% with data_app_name|add:"/css/app.css" as app_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static app_stylesheet %}">
  {% endwith %}
{% endblock %}

{% block main %}
  {% block header_container %}
    <header id="{% block data_app_header_id %}{{ data_app_name }}-header{% endblock %}" class="explorer_header">
      <h1>
        <a href="{{ landing_url }}">{{ app_title }}</a>
        <small>{{ app_tagline }}</small>
      </h1>
    </header>
  {% endblock %}

  {% block main_content %}
  {% endblock %}
{% endblock %}
